# IntelliJ / Android Studio
*.iml
.gradle
/local.properties
/.idea/
!.idea/codeStyles
!.idea/runConfigurations
.DS_Store

# Build output
/build/
/app/build/
/captures
.externalNativeBuild
.cxx

# Keystore files (jangan commit)
*.jks
*.keystore

# Google Services (firebase, maps, dll.)
google-services.json
secrets.properties

# Android Profiling
*.hprof

# Mac/Windows system files
Thumbs.db

# secret.properties
secret.properties

